/* Notebook:*/
html {
  font-size: 12px;
  padding: 8px;
}
/* Title:*/
.Title {
  font-size: 44px;
  font-family: Gill Sans;
  color: #CC0B02;
  line-height: 1.09091;
  margin-left: 27px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px;
}
.TitleInline {
  font-size: 44px;
  font-family: Gill Sans;
  color: #CC0B02;
  line-height: 1.09091;
  margin-left: 27px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px;
}
/* Subtitle:*/
.Subtitle {
  font-size: 24px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 27px;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 8px;
}
.SubtitleInline {
  font-size: 24px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 27px;
  margin-top: 2px;
  margin-bottom: 20px;
  padding: 8px;
}
/* Subsubtitle:*/
.Subsubtitle {
  font-size: 16px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 27px;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 8px;
}
.SubsubtitleInline {
  font-size: 16px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 27px;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 8px;
}
/* Chapter:*/
.Chapter {
  font-size: 34px;
  font-family: Gill Sans;
  color: #343434;
  line-height: 1.11765;
  margin-left: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px;
}
.ChapterInline {
  font-size: 34px;
  font-family: Gill Sans;
  color: #343434;
  line-height: 1.11765;
  margin-left: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px;
}
/* Subchapter:*/
.Subchapter {
  font-size: 28px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 63px;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.SubchapterInline {
  font-size: 28px;
  font-family: Gill Sans;
  color: #4C4C4C;
  margin-left: 63px;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 8px;
}
/* Section:*/
.Section {
  font-size: 28px;
  font-family: Gill Sans;
  color: #C24B16;
  line-height: 1.07143;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #B2B2B2;
  margin-left: 27px;
  margin-top: 18px;
  margin-bottom: 8px;
  padding: 4px;
}
.SectionInline {
  font-size: 28px;
  font-family: Gill Sans;
  color: #C24B16;
  line-height: 1.07143;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #B2B2B2;
  margin-left: 27px;
  margin-top: 18px;
  margin-bottom: 8px;
  padding: 4px;
}
/* Subsection:*/
.Subsection {
  font-size: 20px;
  font-family: Gill Sans;
  color: #C66C29;
  margin-left: 51px;
  margin-right: 3px;
  margin-top: 12px;
  margin-bottom: 8px;
  padding: 8px;
}
.SubsectionInline {
  font-size: 20px;
  font-family: Gill Sans;
  color: #C66C29;
  margin-left: 51px;
  margin-right: 3px;
  margin-top: 12px;
  margin-bottom: 8px;
  padding: 8px;
}
/* Subsubsection:*/
.Subsubsection {
  font-size: 19px;
  font-family: Gill Sans;
  color: #B63809;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
.SubsubsectionInline {
  font-size: 19px;
  font-family: Gill Sans;
  color: #B63809;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
/* Subsubsubsection:*/
.Subsubsubsection {
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #C66C29;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
.SubsubsubsectionInline {
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #C66C29;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
/* Subsubsubsubsection:*/
.Subsubsubsubsection {
  font-size: 14px;
  font-family: Arial;
  color: #960E00;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
.SubsubsubsubsectionInline {
  font-size: 14px;
  font-family: Arial;
  color: #960E00;
  margin-left: 66px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 8px;
}
/* Text:*/
.Text {
  font-size: 14px;
  font-family: Arial;
  line-height: 1.21429;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
.TextInline {
  font-size: 14px;
  font-family: Arial;
  line-height: 1.21429;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
/* SmallText:*/
.SmallText {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  line-height: 1.23077;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
}
.SmallTextInline {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  line-height: 1.23077;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
}
/* Item:*/
.Item {
  font-size: 14px;
  font-family: Arial;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.ItemInline {
  font-size: 14px;
  font-family: Arial;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
}
/* ItemParagraph:*/
.ItemParagraph {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
.ItemParagraphInline {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
/* Subitem:*/
.Subitem {
  font-size: 14px;
  font-family: Arial;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.SubitemInline {
  font-size: 14px;
  font-family: Arial;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
/* SubitemParagraph:*/
.SubitemParagraph {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
.SubitemParagraphInline {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
/* Subsubitem:*/
.Subsubitem {
  font-size: 13px;
  font-family: Arial;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.SubsubitemInline {
  font-size: 13px;
  font-family: Arial;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
/* SubsubitemParagraph:*/
.SubsubitemParagraph {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
.SubsubitemParagraphInline {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
/* ItemNumbered:*/
.ItemNumbered {
  font-size: 15px;
  font-family: Arial;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.ItemNumberedInline {
  font-size: 15px;
  font-family: Arial;
  margin-left: 81px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
}
/* SubitemNumbered:*/
.SubitemNumbered {
  font-size: 14px;
  font-family: Arial;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.SubitemNumberedInline {
  font-size: 14px;
  font-family: Arial;
  margin-left: 105px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
/* SubsubitemNumbered:*/
.SubsubitemNumbered {
  font-size: 13px;
  font-family: Arial;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.SubsubitemNumberedInline {
  font-size: 13px;
  font-family: Arial;
  margin-left: 129px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}
/* SideCaptionArray:*/
.SideCaptionArray {
  font-size: 14px;
  font-family: Arial;
  line-height: 1.21429;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
.SideCaptionArrayInline {
  font-size: 14px;
  font-family: Arial;
  line-height: 1.21429;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
/* SideCaption:*/
.SideCaption {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  line-height: 1.23077;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
}
.SideCaptionInline {
  font-size: 13px;
  font-family: Arial;
  color: #333333;
  line-height: 1.23077;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 8px;
}
/* Input:*/
.Input {
  font-size: 13px;
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px;
}
.InputInline {
  font-size: 13px;
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px;
}
/* InputOnly:*/
.InputOnly {
  font-size: 13px;
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
.InputOnlyInline {
  font-size: 13px;
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 8px;
}
/* Code:*/
.Code {
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
.CodeInline {
  font-weight: DemiBold;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
/* Output:*/
.Output {
  font-size: 13px;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
}
.OutputInline {
  font-size: 13px;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
}
/* Message:*/
.Message {
  font-size: 11px;
  font-family: Microsoft YaHei UI;
  color: #812B27;
  line-height: 1;
  margin-left: 66px;
  padding: 8px;
}
.MessageInline {
  font-size: 11px;
  font-family: Microsoft YaHei UI;
  color: #812B27;
  line-height: 1;
  margin-left: 66px;
  padding: 8px;
}
/* Print:*/
.Print {
  margin-left: 66px;
  padding: 8px;
}
.PrintInline {
  margin-left: 66px;
  padding: 8px;
}
/* Echo:*/
.Echo {
  margin-left: 66px;
  padding: 8px;
  display: list-item;
  list-style-type: square;
}
.EchoInline {
  margin-left: 66px;
  padding: 8px;
}
/* InlineFormula:*/
.InlineFormula {
  /* font-size: 1.05 Inherited is not currently supported */
  padding: 8px;
}
.InlineFormulaInline {
  /* font-size: 1.05 Inherited is not currently supported */
  padding: 8px;
}
/* DisplayFormula:*/
.DisplayFormula {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 66px;
  padding: 8px;
}
.DisplayFormulaInline {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 66px;
  padding: 8px;
}
/* DisplayFormulaNumbered:*/
.DisplayFormulaNumbered {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 66px;
  padding: 8px;
}
.DisplayFormulaNumberedInline {
  font-size: 14px;
  font-family: Arial;
  color: #333333;
  margin-left: 66px;
  padding: 8px;
}
/* DisplayFormulaEquationNumber:*/
.DisplayFormulaEquationNumber {
  /* font-size: -1 + Inherited is not currently supported */
  font-family: Arial;
  padding: 8px;
}
.DisplayFormulaEquationNumberInline {
  /* font-size: -1 + Inherited is not currently supported */
  font-family: Arial;
  padding: 8px;
}
/* Program:*/
.Program {
  font-family: Dynamic[CurrentValue[{StyleHints, CodeFont}]];
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
}
.ProgramInline {
  font-family: Dynamic[CurrentValue[{StyleHints, CodeFont}]];
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
}
/* Reference:*/
.Reference {
  line-height: 1;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 8px;
}
.ReferenceInline {
  line-height: 1;
  margin-left: 66px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 8px;
}
/* Header:*/
.Header {
  font-size: 7px;
  font-family: Verdana;
  font-style: italic;
  line-height: 2.14286;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
.HeaderInline {
  font-size: 7px;
  font-family: Verdana;
  font-style: italic;
  line-height: 2.14286;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
/* HeaderSection:*/
.HeaderSection {
  padding: 8px;
}
.HeaderSectionInline {
  padding: 8px;
}
/* HeaderSubsection:*/
.HeaderSubsection {
  padding: 8px;
}
.HeaderSubsectionInline {
  padding: 8px;
}
/* HeaderTitle:*/
.HeaderTitle {
  padding: 8px;
}
.HeaderTitleInline {
  padding: 8px;
}
/* Footer:*/
.Footer {
  font-size: 6px;
  font-family: Verdana;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
.FooterInline {
  font-size: 6px;
  font-family: Verdana;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
/* FooterSection:*/
.FooterSection {
  padding: 8px;
}
.FooterSectionInline {
  padding: 8px;
}
/* FooterSubsection:*/
.FooterSubsection {
  padding: 8px;
}
.FooterSubsectionInline {
  padding: 8px;
}
/* FooterTitle:*/
.FooterTitle {
  padding: 8px;
}
.FooterTitleInline {
  padding: 8px;
}
/* PageNumber:*/
.PageNumber {
  font-size: 7px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 2.14286;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}
.PageNumberInline {
  font-size: 7px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 2.14286;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 8px;
}

@media screen{
}

@media print{
/* Title:Printout*/
.Title {
  margin-left: 10pt;
  margin-top: 30pt;
  margin-bottom: 10pt;
  padding: 8pt;
}
.TitleInline {
  margin-left: 10pt;
  margin-top: 30pt;
  margin-bottom: 10pt;
  padding: 8pt;
}
/* Subtitle:Printout*/
.Subtitle {
  margin-left: 10pt;
  margin-top: 2pt;
  margin-bottom: 20pt;
  padding: 8pt;
}
.SubtitleInline {
  margin-left: 10pt;
  margin-top: 2pt;
  margin-bottom: 20pt;
  padding: 8pt;
}
/* Subsubtitle:Printout*/
.Subsubtitle {
  margin-left: 10pt;
  margin-top: 2pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
.SubsubtitleInline {
  margin-left: 10pt;
  margin-top: 2pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
/* Chapter:Printout*/
.Chapter {
  margin-left: 10pt;
  margin-top: 15pt;
  margin-bottom: 10pt;
  padding: 8pt;
}
.ChapterInline {
  margin-left: 10pt;
  margin-top: 15pt;
  margin-bottom: 10pt;
  padding: 8pt;
}
/* Subchapter:Printout*/
.Subchapter {
  margin-left: 10pt;
  margin-top: 20pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
.SubchapterInline {
  margin-left: 10pt;
  margin-top: 20pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
/* Section:Printout*/
.Section {
  margin-left: 10pt;
  margin-top: 18pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
.SectionInline {
  margin-left: 10pt;
  margin-top: 18pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
/* Subsection:Printout*/
.Subsection {
  margin-left: 30pt;
  margin-top: 16pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
.SubsectionInline {
  margin-left: 30pt;
  margin-top: 16pt;
  margin-bottom: 8pt;
  padding: 8pt;
}
/* Subsubsection:Printout*/
.Subsubsection {
  margin-left: 49pt;
  margin-top: 16pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
.SubsubsectionInline {
  margin-left: 49pt;
  margin-top: 16pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
/* Subsubsubsection:Printout*/
.Subsubsubsection {
  margin-left: 49pt;
  margin-top: 14pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
.SubsubsubsectionInline {
  margin-left: 49pt;
  margin-top: 14pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
/* Subsubsubsubsection:Printout*/
.Subsubsubsubsection {
  margin-left: 49pt;
  margin-top: 14pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
.SubsubsubsubsectionInline {
  margin-left: 49pt;
  margin-top: 14pt;
  margin-bottom: 6pt;
  padding: 8pt;
}
/* Text:Printout*/
.Text {
  margin-left: 49pt;
  padding: 8pt;
}
.TextInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* SmallText:Printout*/
.SmallText {
  margin-left: 33pt;
  padding: 8pt;
}
.SmallTextInline {
  margin-left: 33pt;
  padding: 8pt;
}
/* Item:Printout*/
.Item {
  margin-left: 65pt;
  padding: 8pt;
  display: list-item;
  list-style-type: square;
}
.ItemInline {
  margin-left: 65pt;
  padding: 8pt;
}
/* ItemParagraph:Printout*/
.ItemParagraph {
  margin-left: 65pt;
  padding: 8pt;
}
.ItemParagraphInline {
  margin-left: 65pt;
  padding: 8pt;
}
/* Subitem:Printout*/
.Subitem {
  margin-left: 92pt;
  padding: 8pt;
  display: list-item;
  list-style-type: square;
}
.SubitemInline {
  margin-left: 92pt;
  padding: 8pt;
}
/* SubitemParagraph:Printout*/
.SubitemParagraph {
  margin-left: 92pt;
  padding: 8pt;
}
.SubitemParagraphInline {
  margin-left: 92pt;
  padding: 8pt;
}
/* Subsubitem:Printout*/
.Subsubitem {
  margin-left: 119pt;
  padding: 8pt;
  display: list-item;
  list-style-type: square;
}
.SubsubitemInline {
  margin-left: 119pt;
  padding: 8pt;
}
/* SubsubitemParagraph:Printout*/
.SubsubitemParagraph {
  margin-left: 119pt;
  padding: 8pt;
}
.SubsubitemParagraphInline {
  margin-left: 119pt;
  padding: 8pt;
}
/* ItemNumbered:Printout*/
.ItemNumbered {
  margin-left: 65pt;
  padding: 8pt;
}
.ItemNumberedInline {
  margin-left: 65pt;
  padding: 8pt;
}
/* SubitemNumbered:Printout*/
.SubitemNumbered {
  margin-left: 92pt;
  padding: 8pt;
}
.SubitemNumberedInline {
  margin-left: 92pt;
  padding: 8pt;
}
/* SubsubitemNumbered:Printout*/
.SubsubitemNumbered {
  margin-left: 119pt;
  padding: 8pt;
}
.SubsubitemNumberedInline {
  margin-left: 119pt;
  padding: 8pt;
}
/* SideCaptionArray:Printout*/
.SideCaptionArray {
  margin-left: 49pt;
  padding: 8pt;
}
.SideCaptionArrayInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* SideCaption:Printout*/
.SideCaption {
  margin-left: 33pt;
  padding: 8pt;
}
.SideCaptionInline {
  margin-left: 33pt;
  padding: 8pt;
}
/* Input:Printout*/
.Input {
  margin-left: 49pt;
  padding: 8pt;
}
.InputInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* InputOnly:Printout*/
.InputOnly {
  margin-left: 49pt;
  padding: 8pt;
}
.InputOnlyInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* Code:Printout*/
.Code {
  margin-left: 49pt;
  padding: 8pt;
}
.CodeInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* Output:Printout*/
.Output {
  margin-left: 49pt;
  margin-top: 3pt;
  margin-bottom: 9pt;
  padding: 8pt;
}
.OutputInline {
  margin-left: 49pt;
  margin-top: 3pt;
  margin-bottom: 9pt;
  padding: 8pt;
}
/* Message:Printout*/
.Message {
  color: #000000;
  margin-left: 49pt;
  padding: 8pt;
}
.MessageInline {
  color: #000000;
  margin-left: 49pt;
  padding: 8pt;
}
/* Print:Printout*/
.Print {
  margin-left: 49pt;
  padding: 8pt;
}
.PrintInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* Echo:Printout*/
.Echo {
  margin-left: 49pt;
  padding: 8pt;
}
.EchoInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* InlineFormula:Printout*/
.InlineFormula {
  padding: 8pt;
}
.InlineFormulaInline {
  padding: 8pt;
}
/* DisplayFormula:Printout*/
.DisplayFormula {
  margin-left: 49pt;
  padding: 8pt;
}
.DisplayFormulaInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* DisplayFormulaNumbered:Printout*/
.DisplayFormulaNumbered {
  margin-left: 49pt;
  padding: 8pt;
}
.DisplayFormulaNumberedInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* Program:Printout*/
.Program {
  margin-left: 49pt;
  padding: 8pt;
}
.ProgramInline {
  margin-left: 49pt;
  padding: 8pt;
}
/* Reference:Printout*/
.Reference {
  line-height: 1.16667;
  margin-left: 49pt;
  padding: 8pt;
}
.ReferenceInline {
  line-height: 1.16667;
  margin-left: 49pt;
  padding: 8pt;
}
/* Header:Printout*/
.Header {
  font-size: 100%;
  padding: 8pt;
}
.HeaderInline {
  font-size: 100%;
  padding: 8pt;
}
/* HeaderSection:Printout*/
.HeaderSection {
  font-size: 100%;
  padding: 8pt;
}
.HeaderSectionInline {
  font-size: 100%;
  padding: 8pt;
}
/* HeaderSubsection:Printout*/
.HeaderSubsection {
  font-size: 100%;
  padding: 8pt;
}
.HeaderSubsectionInline {
  font-size: 100%;
  padding: 8pt;
}
/* HeaderTitle:Printout*/
.HeaderTitle {
  font-size: 100%;
  padding: 8pt;
}
.HeaderTitleInline {
  font-size: 100%;
  padding: 8pt;
}
/* Footer:Printout*/
.Footer {
  font-size: 100%;
  padding: 8pt;
}
.FooterInline {
  font-size: 100%;
  padding: 8pt;
}
/* FooterSection:Printout*/
.FooterSection {
  font-size: 100%;
  padding: 8pt;
}
.FooterSectionInline {
  font-size: 100%;
  padding: 8pt;
}
/* FooterSubsection:Printout*/
.FooterSubsection {
  font-size: 100%;
  padding: 8pt;
}
.FooterSubsectionInline {
  font-size: 100%;
  padding: 8pt;
}
/* FooterTitle:Printout*/
.FooterTitle {
  font-size: 100%;
  padding: 8pt;
}
.FooterTitleInline {
  font-size: 100%;
  padding: 8pt;
}
/* PageNumber:Printout*/
.PageNumber {
  font-size: 100%;
  padding: 8pt;
}
.PageNumberInline {
  font-size: 100%;
  padding: 8pt;
}
}

.script {font-family: Mathematica5, cursive}
.gothic {font-family: Mathematica6, Century Gothic}
.doublestruck {font-family: Mathematica7}